<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <!--这个输出控制台的配置-->
        <console name="Console" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </console>
    </appenders>
    <loggers>
        <!--过滤掉spring和hibernate的一些无用的debug信息-->
        <!--<logger name="org.springframework" level="info"></logger>-->
        <root level="debug">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>